body{ background:#f0f0f0;}
.bgWhite{ background:#FFF;}
.navbar-default{background:#FFF; border-color:#fff;}
.navbar-default .navbar-nav>li>a { color:#000;}
.navbar-nav{ margin-top:17px;}
.navbar { margin-bottom:15px;}
.container-fluid>.navbar-header { margin-bottom:15px;}
.navbar-toggle{ margin-top:23px; float:left; margin-right:34%;}
.marginTop1{ margin-top:23px;}
@media (max-width: 768px) {
.breadcrumb {
 display:none;
  }
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav> li >a:hover, .navbar-default .navbar-nav>.active>a:hover { background:url(../images/nav-bg.png) 11px 16px repeat-x;}
.breadcrumb{ background:#f0f0f0; text-transform:uppercase; font-size:11px; }
.breadcrumb>.active {color:#000;}
.breadcrumb>li a{ color:#9d9d9d;}
.breadcrumb>li+li:before{
 content: "";
 background: url(../images/arrow.png) 2px 5px no-repeat;
}
